.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 290px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-rigth: 10px;
  padding-left: 10px;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #68b738;
  background-size: cover;
}

.banner__description {
  max-width: 150px;
  margin: 0;
  font-family: "Arial", "Tahoma", sans-serif;
  line-height: 20px;
}
