.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .catalog__list {
    margin-bottom: 35px;
    margin-left: -30px;
    margin-right: -30px;
  }
}

@media (min-width: @tablet-width) {
  .catalog__list {
    margin-bottom: 50px;
    margin-left: -40px;
    margin-right: -40px;
  }
}

.catalog__list-item {
  position: relative;
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  max-width: 100%;
  padding-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .catalog__list-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 110px;
    margin-bottom: 30px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list-item {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.title-line {
  position: relative;
  display: inline-block;
  padding-right: 22px;
  margin-bottom: 35px;
  margin-top: 0;
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  background-color: #ffffff;
}

.title-line::after,
.title-line::before {
  content: "";
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 100vw;
  height: 3px;
  margin-top: 2px;
  background-color: #68b738;
}

.title-line::before {
  display: none;
  right: 0;
}

@media (min-width: @desktop-width) {
  .title-line::before {
    display: none;
  }
}

.title-line::after {
  left: 20px;
}

@media (min-width: @tablet-width) {
  .title-line {
    margin-bottom: 75px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 36px;
    &::before {
      display: block;
    }
  }
}

@media (max-width: 1299px) and (min-width: @tablet-width) {
  .title-line--left {
    margin-left: 0;
    margin-bottom: 80px;
  }
}

@media (min-width: @desktop-width) {
  .title-line {
    padding-left: 0;
    &::before {
      display: none;
    }
  }
}
