.contacts {
    position: relative;
    background: #ffffff;
}

.invitation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 28px 0 25px;
}

.invitation__title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 160px;
    margin: 0;
    color: #111111;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.invitation__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 160px;
    width: 100%;
    margin: 0;
    font-family: "Arial", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.map__iframe {
    height: 365px;
    border: 0;
}

.map__iframe iframe {
    width: 100%;
    height: 100%;
    border: 0;
}