.contacts {
  position: relative;
  background-color: #ffffff;
}


@media (max-width: @desktop-width) and (min-width: @tablet-width) {
  .wrapper--contacts {
    padding-left: 70px;
    padding-right: 70px;
  }
}
