.example {
    background: #f2f2f2;
}

@media (max-width: 1299px) and (min-width: @tablet-width) {
  .example {
    border-top: 1px solid #d9d9d9;
    background: linear-gradient(to top, #f2f2f2 42.7%, #ffffff 30%);
  }
}

@media (min-width: @desktop-width) {
  .example {
    position: relative;
    z-index: 1;
    background: #ffffff;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 72%;
      background: linear-gradient(to right, #f2f2f2 71.8%, #eaeaea 28.2%);
      z-index: -1;
    }
  }
}

.example__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

@media (max-width: @tablet-width) and (min-width: @desktop-width) {
  .example__wrapper {
    background-color: #ffffff;
    border-top: 1px solid #d9d9d9;
  }
}


.example__item {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .example__item {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .example__item {
    flex: 0 0 40%;
    max-width: 40%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: @tablet-width) {
  .example__title {
    padding-top: 43px;
    margin-bottom: 70px;
  }
}

.example__description {
  margin-bottom: 25px;
  margin-top: -5px;
  font-family: "Arial", "Tahoma", sans-serif;
}

@media (min-width: @tablet-width) {
  .example__description {
    margin-bottom: 28px;
  }
}

@media (min-width: @desktop-width) {
  .example__description {
    margin-bottom: 47px;
    margin-top: 148px;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @tablet-width) {
  .example__results-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.example__results-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .example__results-list {
    width: 100%;
    max-width: 365px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .example__results-list {
    margin-bottom: 55px;
  }
}

.example__results-item {
  max-width: 124px;
  width: 100%;
  padding: 15px 10px 5px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

@media (min-width: @tablet-width) {
  .example__results-item {
    max-width: 162px;
    padding-top: 23px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.results-item__wrapper {
  max-width: 105px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
  padding: 0 10px;
  background-color: #f2f2f2;
}

@media (max-width: 1299px) and (min-width: @tablet-width) {
  .results-item__wrapper {
    background-color: #ffffff;
  }
}

.example__results-fact {
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.example__results-inner {
  margin: 8px 0 0;
  color: #111111;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 12px;
  line-height: 1;
}

.example__cost {
  margin-bottom: 35px;
  margin-top: 0;
  color: #111111;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .example__cost {
    max-width: 192px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .example__cost {
    max-width: 100%;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .example__cost span {
    display: inline-block;
    margin-right: 60px;
  }
}


@media (min-width: @desktop-width) {
  .example__item-img {
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: @tablet-width) {
  .example__picture {
    margin-top: 25px;
  }
}


@media (min-width: @desktop-width) {
  .example__picture {
    position: relative;
    margin-top: 10px;
  }
}

.example__image {
  max-width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .example__image {
    position: relative;
    display: flex;
    max-width: inherit;
    height: 560px;
  }
}


@media (min-width: @desktop-width) {
  .example__image {
    height: 500px;
  }
}

.example__toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 195px;
  margin: 0 auto;
  padding: 30px 0 35px;
}

@media (min-width: @tablet-width) {
  .example__toggle {
    max-width: 575px;
    padding-top: 10px;
    padding-bottom: 70px;
  }
}


@media (min-width: @desktop-width) {
  .example__toggle {
    margin-left: auto;
    margin-right: inherit;
    padding: 30px 0 65px;
  }
}

.toggle__btn {
  padding: 0;
  margin: 0;
  color: #111111;
  font-size: 16px;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .toggle__btn {
    padding: 5px 0;
    font-size: 20px;
    border-bottom: 1px dotted #d9d9d9;
  }
}

.toggle__progress {
  position: relative;
  max-width: 84px;
  width: 100%;
  height: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  background-color: #ffffff;
}

.toggle__progress::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  right: 5px;
  width: 35px;
  height: 6px;
  border-radius: 50px;
  background-color: #68b738;
  transform: translateY(-50%);
  transition: 0.3s;
}

@media (min-width: @tablet-width) {
  .toggle__progress {
    max-width: inherit;
    height: 6px;
    margin: 0 25px;
    background-color: #d9d9d9;

    &::after {
      display: none;
    }
  }

  .toggle__tog {
    position: absolute;
    top: 50%;
    left: 50.5%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
    cursor: pointer;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
  }

  .toggle__tog::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 8px;
    height: 8px;
    margin: auto;
    border-radius: 50%;
    background-color: #68b738;
  }
}
