.preview {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -20px;
  margin-right: -20px;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .preview {
    margin-left: -30px;
    margin-right: -30px;
  }
}

@media (min-width: @desktop-width) {
  .preview {
    margin-left: -40px;
    margin-right: -40px;
  }
}

.preview__item {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
}

@media (min-width: @tablet-width) {
  .preview__item {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .preview__item {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.preview__inner {
  position: relative;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: #f2f2f2;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 20px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }
}

@media (min-width: @tablet-width) {
  .preview__inner::before {
    top: 90px;
    left: auto;
    right: 60px;
    width: 200px;
    height: 200px;
  }
}

@media (min-width: @desktop-width) {
  .preview__inner::before {
    top: 40px;
    left: 60px;
    right: auto;
    width: 100px;
    height: 100px;
  }
}

@media (min-width: @tablet-width) {
  .preview__inner {
    padding-top: 77px;
    padding-bottom: 58px;
    padding-left: 52px;
    padding-right: 293px;
  }
}

@media (min-width: @desktop-width) {
  .preview__inner {
    padding: 80px 55px 58px;
  }
}


.preview__img {
  position: absolute;
  top: 25px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
}

@media (min-width: @desktop-width) {
  .preview__img {
    right: auto;
    top: 45px;
    width: 100px;
    height: 100px;
  }
}


.preview__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 35px;
  padding-left: 70px;
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;


  &::after {
    top: 22px;
    left: 30px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
  }
}

@media (min-width: @tablet-width) {
  .preview__title {
    margin-bottom: 25px;
    padding-left: 0;
    font-size: 36px;
  }
}

@media (min-width: @desktop-width) {
  .preview__title {
    margin-bottom: 70px;
    padding-left: 162px;
  }
}

.preview__intro {
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px #d9d9d9 solid;
}

@media (min-width: @tablet-width) {
  .preview__intro {
    margin-bottom: 27px;
    padding-bottom: 27px;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .preview__intro {
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }
}


.preview__link {
  position: relative;
  text-transform: uppercase;
}

.preview__link::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -41px;
  display: block;
  width: 25px;
  height: 11px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (min-width: @tablet-width) {
  .preview__link {
    padding-right: 24px;
    font-size: 20px;

    &::after {
      top: 10px;
      right: -21px;
    }
  }
}
