.start-home {
  padding: 30px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .start-home {
    padding-top: 55px;
    margin-bottom: 5px;
    min-height: 860px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .start-home {
    min-height: 530px;
    padding-top: 55px;
    padding-left: 80px;
    margin-bottom: 80px;
  }
}

.start-home__slogan {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 34px;
  line-height: 39px;
}

@media (min-width: @tablet-width) {
  .start-home__slogan {
    font-size: 60px;
  }
}

@media (min-width: @desktop-width) {
  .start-home__slogan {
    max-width: 520px;
    margin-bottom: 45px;
    text-align: left;
    color: #111111;
  }
}

.start-home__intro {
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .start-home__intro {
    margin-bottom: 45px;
    color: #111111;
    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: @desktop-width) {
  .start-home__slogan {
    margin-bottom: 50px;
  }
}

.select-programm {
  display: block;
  padding: 10px 40px;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
}
