.start-home {
  position: relative;
  padding: 30px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .start-home {
    padding-top: 55px;
    margin-bottom: 5px;
    min-height: 860px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .start-home {
    min-height: 530px;
    padding-top: 55px;
    padding-left: 80px;
    margin-bottom: 80px;
  }
}

.start-home__slogan {
  margin-bottom: 23px;
  margin-top: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .start-home__slogan {
    max-width: 520px;
    margin-bottom: 45px;
    font-size: 60px;
    text-align: left;
    color: #111111;
  }
}

@media (min-width: @desktop-width) {
  .start-home__slogan {
    max-width: 520px;
    margin-bottom: 50px;
    text-align: left;
    color: #111111;
  }
}

.start-home__intro {
  margin-top: 0;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .start-home__intro {
    margin-bottom: 45px;
    color: #111111;
    font-size: 20px;
    line-height: 1;
  }
}

.start-home__image {
  display: block;
  margin: 0 auto 5px;
}

@media (min-width: @tablet-width) {
  .start-home__image {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .start-home__image {
    position: absolute;
    top: -25px;
    left: 50%;
    bottom: inherit;
    margin: auto;
    transform: translateX(-34%);
  }
}

.select-programm {
  display: block;
  padding: 10px 40px;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
}
